.root {
    -fx-background-color: #071c49;
    -fx-grid-lines-visible: true;
    -fx-alignment: center;
    -fx-hgap: 25;
    -fx-vgap: 10;
    -fx-font-family: sans-serif;
    -fx-text-fill: #ffffff;
}



.main-button {
    -fx-background-color: #fdd100;
    -fx-border-color: #e1c848;
    -fx-text-fill: inherit;
    -fx-pref-height: 60px;
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-weight: 700;
    -fx-border-width: 3px;
    -fx-border-style: none;
}

.title {
    -fx-font-size: 25px;
    -fx-font-weight: 700;
    -fx-text-fill: #fdd100;
    -fx-alignment: center;

}

.text {
    -fx-text-fill: #ffffff;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-style: none;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.normal-button {
    -fx-background-color: #fdd100;
    -fx-border-color: #e1c848;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-font-weight: 700;
    -fx-border-width: 3px;
    -fx-border-style: none;
    -fx-padding: 7px;
}

.center {
    -fx-alignment: center;
    -fx-padding: 15px;
    -fx-spacing: 10px;
}

.error {
    -fx-content-display: none;
    -fx-text-fill: #ffffff;
    -fx-min-width: 200px;
    -fx-fill-width: 200px;
    -fx-fit-to-width: 200px;
}

.roomstv {
    -fx-pref-width: 500px;
    -fx-pref-height: 200px;
}

.main-button:hover,
.normal-button:hover {
    -fx-background-color: #e1c848;
}

.scroll-pane {
    -fx-pref-width: 400px;
    -fx-pref-height: 300px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-control-inner-background: transparent;
    -fx-background: transparent;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

/*.main-button:pressed {*/
/*    -fx-translate-y: 0.8;*/
/*    -fx-translate-x: 0.8;*/
/*}*/

#mainWindow,
#customerView,
#roomEditWindow {
    -fx-pref-height: 300px;
    -fx-pref-width: 500px;
}


#managementLoginWindow,
#newBookingViewWindow,
#applicationFormWindow,
#customerManageBookingWindow,
#bookingSummary,
#selectedCustomerBookingWindow,
#addNewServiceWindow {
    -fx-pref-width: 600px;
    -fx-pref-height: 300px;
}

#managementWindow,
#manageBookingWindow,
#manageRoomWindow,
#checkInWindow,
#checkOutWindow,
#errorWindow,
#successWindow,
#bookingPaymentWindow,
#customerBillWindow,
#orderServiceWindow,
#changePasswordWindow,
#revenueWindow,
#aboutWindow {
    -fx-pref-width: 600px;
    -fx-pref-height: 450px;
    -fx-vgap: 10px;
    -fx-hgap: 10px;
    -fx-alignment: "TOP_CENTER";
}
